*{
    margin: 0;
    padding: 0;
}

.card {
    padding: 1.5rem;
    margin: 2rem;
    margin-left: 2rem;
    max-height: 30rem;
    }


    .text-envios {
        text-transform: uppercase;
    }

.body {
    background-color: #FDE0DC;
}

.img-fluid{
    margin: 1.2rem;
}

    .container-icon  {
        display: flex;
        justify-content: center;
        align-items: center;
        
    }

.container-envios {
    margin: 2rem;
}

.navbar {
    background-color: white;
}

.icon-wsp {
    position: fixed;
    bottom: 30px;
    right: 30px;
    box-sizing: 0px 1px 10px;
} 

.container-footer {
    bottom: 0;
}

/* PÁGINA PRODUCTOS */

.container-grilla {
    margin: 2rem;
    padding: 2rem;
}

.text-cuotas {
    text-align: center;
    margin-bottom: 2rem;
}

.flex-cuotas{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

/* PÁGINA CONTACTO */

.titulo{
    text-align: center;
    margin-top: 4rem;
    margin-bottom: 0;
    text-transform: capitalize;
    font-family: sans-serif;

    
}


.contacto{
    background-color: #FDE0DC;
}

.form {
    margin: 1rem;
    gap: 0.5rem;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
}

.formulario {
    margin: 2rem 10rem;
    padding: 2rem;
    gap: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    flex-direction: column;
}  

.botones {
    margin-bottom: 4rem;
    gap: 1.5rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}




/* PÁGINA NOSOTROS */
.nosotros {
    background-color: #FDE0DC;
}


.presentacion {
    display: flex;
    flex-direction: row;
    margin: 2rem;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 50rem;
}

.img_presentacion{
    width: 100%; 
    max-width: 38rem;
    box-shadow: 2px 2 px 0 0 ;
    max-height: 100%;
    height: 38rem;
    
}

    .logomagnolia {
        width: 100%;
    } 

    .texto_presentacion {
        margin: 3rem;
        text-align: left; 
    } 

    .divtext_presentacion{
        width: 38rem;
        background-color: white;
        max-height: 100%; 
        height: 38rem;
        align-items: center;
        display: flex;
        justify-content: center;
    }


    .parrafo__section {
        width: 100%;  
        overflow: hidden;
        padding: 2rem;
        color: white;
        display: flex;
        align-items: center;
        justify-content: center;  
    }

    .parrafo__article {
        width: 72rem;
        background-color: gray;
        padding: 2rem;
        margin: 1rem 4rem;
        box-shadow: 5px 5px 5px #6d6875;
    } 

     /* PAGINA FAQ */ 

     .faq-body {
        background-color:white ;
     }

     .inicio {
        background-color: white; 
        height: 60rem;
        width: 100%; 

    }

    .saludo {
        margin: 2rem; 
        text-align: center;
    } 

    .hola__saludo {
        text-transform: uppercase;
        color: pink 
    }

    .lineadivisoria {
      margin-left: 20rem;
      margin-right: 20rem;
    }

.titulo__preguntas {
    font-size: 22px;
    text-transform: uppercase; 
    margin: 2rem;
    text-align: center;
}

.preguntas {
    margin-left: 2rem; 
    color: pink;

}

.respuestas {
    text-align: left;
    margin: 0.5rem 2rem 2rem 2rem; 
    
}

.general {
   display: flex;
   justify-content: center;
   align-items: center;
}





    @media (max-width: 768px) {
        .presentacion{
            display: block;
        }

        .parrafo__article {
            display: block;
            margin-top: 25rem;
        } 

        .footer {
            display: none; 
        } 

        .icon-wsp {
            display: none;
        }

        .general {
            display: block;
        }

    }

    @media (max-width:1024px) { 
        .footer {
            margin-top:20rem;
        }
        
    }